<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348844216687-a382k69sopu4ndmicdo0s4us8vd47ebo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348844216687-a382k69sopu4ndmicdo0s4us8vd47ebo</string>
	<key>API_KEY</key>
	<string>AIzaSyBeUizKUOLlEqYn4oPdjJ5vSFMF67NdL9U</string>
	<key>GCM_SENDER_ID</key>
	<string>348844216687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppNewversion</string>
	<key>PROJECT_ID</key>
	<string>chat-app-newversion</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-newversion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348844216687:ios:e75aaadf295a659703589a</string>
</dict>
</plist>